body{
    background-color: violet;
     color:black;
     margin: 0px;
}

header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color:black;
}

section{
    background-color:aquamarine;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
}
