body{
    background-color: violet;
     color:black;
     margin: 0px;
}

header{
    border-bottom: solid 2px black;
    padding: 20px;
    font-size: 32px;
    color:black;
}

section{
    background-color:aquamarine;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex; 
    justify-content: center;
}
h1 {
    font-size: 40px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
,